---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/base/FormattedDate.astro';
import Layout from '../../layouts/Layout.astro';
import Section from '@components/base/Section.astro';

const posts = await getCollection('blog');
---

<Layout description="Recieve Polyfrost updates here" title="Polyfrost Blog">
	<Section class="mt-96 md:mt-32 mb-12">
		<div class="flex flex-col gap-5 content-center mx-auto min-h-100">
			{posts.length == 0 && <p class="italic text-gray-500">No posts yet</p>}
			{
				posts.toSorted((p1,p2)=>p2.data.publishDate.valueOf()-p1.data.publishDate.valueOf()).map((post) => (
					<a href={`/blog/${post.slug}/`}>
						<div class="flex gap-2 flex-col md:flex-row">
							<img alt="" height={225} src={post.data.coverImage} width={400} class="w-full md:w-100 rounded-xl ring-1 ring-gray-400/50 bg-gray-400/40 object-cover aspect-video" />
							<div class="p-1">
								<p class="date text-xs font-light text-nowrap">
									<FormattedDate date={post.data.publishDate} />
								</p>
								<div class="flex justify-between">
									<h3 class="text-lg font-semibold text-navy-peony">{post.data.title}</h3>
								</div>
								<p class="text-sm font-light">
									{post.data.description}
								</p>
							</div>
						</div>
					</a>
				))
			}
		</div>
	</Section>
</Layout>
