---
import Button from '@components/base/Button.astro';
import Card from '@components/base/Card.astro';
import Header from '@components/base/Header.astro';
import Paragraph from '@components/base/Paragraph.astro';
import Section from '@components/base/Section.astro';
import Slider from '@components/base/Slider.astro';
import Layout from '@layouts/Layout.astro';
import configConst from '@utils/site-info';
import { Code } from 'astro:components';

const modrinthId = configConst.socials.modrinth.id;
const modrinthType = configConst.socials.modrinth.type;
const modrinthUrl = `https://modrinth.com/${modrinthType}/${modrinthId}`;
---

<Layout description="Learn about our collection of over 20 mods!" title="Mods">
	<Section class="mt-32 h-full flex flex-col items-center justify-center md:mt-28 max-xl:px-0" maxWidth="1920px" wFull={true} wrapperClass="h-3/5">
		<div class="max-w-full flex flex-col items-center justify-center overflow-hidden">
			<div class="relative h-auto max-w-[1920px] flex flex-col items-center justify-between overflow-hidden lg:h-[290px]">
				<div class="absolute z-10 h-full w-full -bottom-[1px] lg:h-1/2" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgb(240, 242, 244));"></div>
				<Slider childrenNum={8} wrapperClass="-mb-40 mb-2 hidden lg:block">
					<Card icon="chatting" text="Chatting" />
					<Card icon="polysprint" text="PolySprint" />
					<Card icon="vanillahud" text="VanillaHUD" />
					<Card icon="overflowanimations" text="OverflowAnimations" />
					<Card icon="crashpatch" text="CrashPatch" />
					<Card icon="polytime" text="PolyTime" />
					<Card icon="polyweather" text="PolyWeather" />
					<Card icon="keystrokes" text="Keystrokes" />
				</Slider>
				<Slider childrenNum={8} dir="right">
					<Card icon="chatting" text="Chatting" />
					<Card icon="polysprint" text="PolySprint" />
					<Card icon="vanillahud" text="VanillaHUD" />
					<Card icon="overflowanimations" text="OverflowAnimations" />
					<Card icon="crashpatch" text="CrashPatch" />
					<Card icon="polytime" text="PolyTime" />
					<Card icon="polyweather" text="PolyWeather" />
					<Card icon="keystrokes" text="Keystrokes" />
				</Slider>
			</div>
		</div>

		<div class="mt-6 max-w-full flex flex-col items-center justify-start gap-6 px-4">
			<Header align="center" class="max-w-[600px] text-navy-peony" size="xxl">Creating the next big mod, one at a time </Header>
			<div class="flex flex-row items-center justify-center gap-x-2">
				<Button href={modrinthUrl} iconLeft="download" style="primary">Download </Button>
				<Button href={configConst.socials.github} iconLeft="github" style="secondary">Source </Button>
			</div>

			<Paragraph class="mt-20 max-w-screen-sm text-center text-lg text-navy-peony font-semibold">
				<span id="mod_count">20</span>+ mods. Unparalleled new features. OneConfig. We combine our groundbreaking library with mods with no equivalent anywhere else.
			</Paragraph>
		</div>
	</Section>

	<Section tabindex="0">
		<div slot="left">
			<Header class="text-navy-peony" size="lg"><b id="mod_count_maintained_mods">20</b> maintained mods </Header>
			<Paragraph class="max-w-[500px] text-gray-400" size="sm">
				Built with OneConfig, a completely new way to configure mods.
			</Paragraph>
		</div>
		<div slot="right">
			<div class="absolute z-10 ml-[21rem] h-full w-1/4" style="background: linear-gradient(90deg, rgba(246, 246, 246, 0.00) 0%, #F0F2F4 49.21%);"></div>
			<img alt="stuff" class="w-[120%] overflow-x-clip" src="/media/mods/page_media_1.svg" />
		</div>
	</Section>

	<Section colReverse={false} tabindex="0">
		<div class="min-w-40 w-1/2 md:w-auto" slot="left">
			<img alt="stuff" class="mx-auto max-sm:w-full" src="/media/mods/page_media_2.svg" />
		</div>
		<div slot="right">
			<Header class="text-navy-peony" size="lg">We <b>listen</b> to community feedback </Header>
			<Paragraph class="max-w-[500px] text-gray-400" size="sm">
				No more are the days where developers ignore your great new idea. Some of our best mods and ideas are user-suggested, such as BehindYouV3, various Chatting features, and more.
			</Paragraph>
		</div>
	</Section>

	<Section class="pt-10 md:py-20" maxWidth="1120px" wFull={false} wrapperClass="bg-blue-75 -mb-40">
		<div slot="left">
			<!-- TODO: FIX Codeblock overflowing on mobile -->
			<div class="max-sm:hidden">
				<Code
					code={`public class MyConfig extends Config {
	@Switch(
		name = "Sub Switch",
		category = "General"
	)
	public static boolean subSwitch = false;

	public MyConfig() {
		super(new Mod("My Mod", ModType.UTIL_QOL), "config.json");
		addDependency("subSwitch", () -> {
			// Do stuff here
		});
	}
}`}
					lang="java"
				/>
			</div>
		</div>

		<div class="flex flex-col items-start gap-2 text-left" slot="right">
			<Header class="text-blue-500" size="lg">Open source</Header>
			<Paragraph class="max-w-[500px] text-blue-400">
				All of our mods are open source, and will continue to be open source. Anyone can learn, contribute, or take from our code (as long as it follows our license).
			</Paragraph>
			<div class="flex">
				<Button href="https://docs.polyfrost.org" iconLeft="book-open" style="secondary" text="Documentation" />
			</div>
		</div>
	</Section>

	<Section class="gap-4 py-10 md:py-20" maxWidth="1120px" wFull={false} wrapperClass="bg-blue-75">
		<div class="flex flex-col items-start gap-2 text-left" slot="left">
			<Header class="text-blue-500" size="lg">Powered by OneConfig</Header>
			<Paragraph class="max-w-[500px] text-blue-400">
				OneConfig brings the simplicity of a client to the everyday user, gives advanced users and developers complete control over everything, while remaining free and open-source.
			</Paragraph>
			<div class="flex">
				<Button href="/projects/oneconfig" iconLeft="oneconfig" style="secondary" text="See OneConfig" />
			</div>
		</div>
		<div slot="right">
			<img alt="stuff" class="max-sm:w-full" src="/media/oneconfig/page_media_3.svg" />
		</div>
	</Section>

	<Section class="flex-col items-center justify-center" wrapperClass="flex justify-center items-center min-h-screen -mt-40">
		<div class="relative flex flex-col items-center justify-center gap-y-1">
			<Header class="w-11/12 text-center text-header-page text-navy-peony md:max-w-lg" size="xl">Get our mods, available on Modrinth and GitHub. </Header>
			<div class="flex flex-row items-center justify-center gap-x-2">
				<Button href={modrinthUrl} iconLeft="link-external" style="primary">Modrinth </Button>
				<Button href={configConst.socials.github} iconLeft="github" style="primary">GitHub </Button>
			</div>
		</div>
	</Section>
</Layout>

<script define:vars={{ modrinthType, modrinthId }}>
async function getModCount() {
	const res = await fetch(`https://api.modrinth.com/v3/${modrinthType}/${modrinthId}/projects`);
	const data = await res.json();
	const mods = data.filter((mod) => {
		return mod.slug !== 'oneconfig' && mod.slug !== 'easeify';
	});

	return mods.length;
}

getModCount().then((size) => {
	const modCount = document.getElementById('mod_count');
	const modCountMaintainedMods = document.getElementById('mod_count_maintained_mods');

	if (modCount)
		modCount.textContent = size;

	if (modCountMaintainedMods)
		modCountMaintainedMods.textContent = size;
});
</script>
