---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '@components/base/FormattedDate.astro';
import Layout from './Layout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, publishDate, updatedDate, coverImage } = Astro.props;
---

<div class="parallax-container overflow-x-clip overflow-y-auto max-h-screen">
	<div class="flex justify-center parallax-4 absolute w-full mt-80 md:mt-24">
		{coverImage && <img alt="Hero Image" class="object-cover  object-c rounded-t-2xl md:rounded-2xl ring-1 ring-gray-400/50 -z-1" height={510} src={coverImage} width={1020} />}
	</div>
	<Layout description={description} title={title}>
		<article class="mt-80 md:mt-24">
			<div class="flex items-start flex-col mx-auto mt-32 mb-12 max-w-[calc(65ch+32px)] gap-6 parallax-0">
				<div class="w-full bg-gray-50 p-4 ring-1 ring-gray-400/50 rounded-3xl">
					<div class="text-xs font-light italic">
						<FormattedDate date={publishDate} />
						{
							updatedDate && (<span class="">- Last updated on <FormattedDate date={updatedDate} /></span>)

						}
					</div>
					<h1 class="text-3xl font-bold text-navy-peony -mt-1 mb-1">{title}</h1>
				</div>
				<div class="bg-gray-50 p-4 ring-1 ring-gray-400/50 rounded-3xl">
					<article class="prose" >
						<slot/>
					</article>
				</div>
			</div>
		</article>
	</Layout>
</div>
