---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '@components/base/FormattedDate.astro';
import Layout from './Layout.astro';
import '@styles/blog.css';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, publishDate, updatedDate, coverImage } = Astro.props;
---

<Layout description={description} title={title}>
	<article>
		<div class="hero-image">
			{coverImage && <img alt="Hero Image" height={510} src={coverImage} width={1020} />}
		</div>
		<div class="prose">
			<div class="title">
				<div class="date">
					<FormattedDate date={publishDate} />
					{
						updatedDate && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
				<h1>{title}</h1>
				<hr />
			</div>
			<slot />
		</div>
	</article>
</Layout>
