---
import type { HTMLAttributes } from 'astro/types';
import type { Icon as IconType } from 'virtual:astro-icon';
import { Icon } from 'astro-icon/components';

const styles = {
	// TODO: adjust active / disabled colors
	primary: 'bg-blue-500 text-white hover:bg-blue-400 active:bg-blue-600 disabled:bg-blue-800 disabled:text-opacity-20',
	secondary: 'bg-blue-20 text-blue-60 border-[1px] border-blue-30 hover:bg-blue-200 active:bg-blue-300 disabled:bg-blue-50 disabled:text-blue-200',
	ghost: 'bg-transparent text-blue-500 hover:bg-blue-20 active:bg-blue-30 disabled:bg-transparent disabled:text-blue-200',
};

const sizes = {
	sm: 'px-4 py-2 text-sm',
	md: 'px-5 py-3 text-md',
	lg: 'px-6 py-3 text-lg rounded-2xl',
};

const iconSize = {
	sm: 17,
	md: 20,
	lg: 24,
};

interface Props extends HTMLAttributes<'button'> {
	style?: keyof typeof styles;
	size?: keyof typeof sizes;
	text?: string;
	tooltip?: string;
	iconLeft?: IconType;
	href?: string
}

const { style = 'primary', size = 'md', text = '', iconLeft = '', tooltip, href, ...rest } = Astro.props;

const className = [
	'flex flex-row justify-center items-center text-center focus-visible:ring-offset-4 focus-visible:outline-offset-4',
	'rounded-xl font-medium',
	styles[style],
	sizes[size],
	'transition-colors',
	rest.class,
].join(' ');

const Element = href ? "a" : "button"

---

<div class="overflow-hidden flex relative hover:overflow-visible group">
	<Element {...rest} class={className} {href}>
		{
			iconLeft && (
				<span class="mr-2">
					<Icon name={iconLeft} size={iconSize[size]} />
				</span>
			)
		}
		{text || <slot />}
		{
			<span class="ml-2">
				<Icon name="chevron-down" size={24} />
			</span>
		}
	</Element>

	{tooltip && (
		<div class="absolute bottom-full left-1/2 transform -translate-x-1/2 mb-2 px-3 py-2 text-sm text-white bg-gray-900 rounded-lg shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 whitespace-nowrap z-20 pointer-events-none">
			{tooltip}
			<div class="absolute top-full left-1/2 transform -translate-x-1/2 w-0 h-0 border-l-4 border-r-4 border-t-4 border-transparent border-t-gray-900"></div>
		</div>
	)}

	<div class="absolute bottom-0 left-0 right-0 translate-y-[100%] pt-1 z-10">
		<slot/>
	</div>
</div>
