---
import type { HTMLAttributes } from 'astro/types';
import configConst from '@utils/site-info';
import { Icon } from 'astro-icon/components';
import Link from './Link.astro';

interface Props extends HTMLAttributes<'footer'> {}

const props = Astro.props;
---

<footer {...props} class="section flex items-center justify-center bg-blue-100 px-20 pb-8 pt-20 -mt-40">
	<div class="max-w-[1024px] w-full flex flex-col gap-y-24">
		<div class="flex flex-col items-start justify-center gap-y-20 md:flex-row md:items-start md:justify-between">
			<div class="flex flex-1 flex-col gap-y-3 text-lightslategray">
				<Icon height="30" name="polyfrost.full" width="174" />
				<p>English (US)</p>
				{/* hardcoded for now, todo i18n */}
				<div class="flex flex-row gap-3">
					<a aria-label="discord icon" class="hover:text-[#5865F2]" href="/discord" target="_blank"><Icon height={24} name="discord" width={24} /> </a>
					<a aria-label="youtube icon" class="hover:text-[#ff0000]" href={configConst.socials.youtube} target="_blank"><Icon height={24} name="youtube" width={24} /> </a>
					<a aria-label="github icon" class="hover:text-[#000000]" href={configConst.socials.github} target="_blank"><Icon height={24} name="github" width={24} /> </a>
				</div>
			</div>

			<div class="flex flex-1 flex-col justify-end gap-8 md:flex-row">
				{
					configConst.footer.map(column => (
						<div class="flex flex-col gap-y-3">
							<h3 class="text-md text-gray-700">{column.header}</h3>
							<ul class="flex flex-col gap-y-1 text-lightslategray">
								{column.links.map(link => (
									<li>
										<Link class="text-nowrap text-sm" href={link.url}>
											{link.text}
										</Link>
									</li>
								))}
							</ul>
						</div>
					))
				}
			</div>
		</div>

		<div class="flex flex-col items-center md:flex-row md:items-start md:justify-between">
			<p class="text-sm text-lightslategray">
				© {new Date().getFullYear()} Polyfrost. <Link class="text-sm text-lightslategray" href="https://github.com/Polyfrost/Nexus">Licensed under AGPL-3.0. </Link>
			</p>
			<p class="text-sm text-lightslategray">Not affiliated with Mojang or Microsoft.</p>
		</div>
	</div>
</footer>
