---
import Icon from '@components/icons/Icon.astro';
import Logo from '@components/logos/Logo.astro';
import configConst from 'config';
import type { HTMLAttributes } from 'astro/types';
import Link from './Link.astro';

interface Props extends HTMLAttributes<'footer'> {}

const props = Astro.props;
---

<footer {...props} class="section flex items-center justify-center bg-blue-100 px-20 pb-8 pt-20 -mt-40">
	<div class="max-w-[1024px] w-full flex flex-col gap-y-24">
		<div class="flex flex-col items-start justify-center gap-y-20 md:flex-row md:items-start md:justify-between">
			<div class="flex flex-1 flex-col gap-y-3 text-blue-gray">
				<Logo logo="polyfrost.full" />
				<p>English (US)</p>
				{/* hardcoded for now, todo i18n */}
				<div class="flex flex-row gap-3">
					<a href={configConst.socials.discord} target="_blank" class="hover:text-[#5865F2]"><Icon icon="discord" /> </a>
					<a href={configConst.socials.youtube} target="_blank" class="hover:text-[#ff0000]"><Icon icon="youtube" /> </a>
					<a href={configConst.socials.github} target="_blank" class="hover:text-[#000000]"><Icon icon="github" /> </a>
				</div>
			</div>

			<div class="flex flex-1 flex-col justify-end gap-8 md:flex-row">
				{
					configConst.footer.map(column => (
						<div class="flex flex-col gap-y-3">
							<h3 class="text-md text-gray-700">{column.header}</h3>
							<ul class="flex flex-col gap-y-1">
								{column.links.map(link => (
									<li>
										<Link href={link.url} class="text-nowrap text-sm text-blue-gray">
											{link.text}
										</Link>
									</li>
								))}
							</ul>
						</div>
					))
				}
			</div>
		</div>

		<div class="flex flex-col items-center md:flex-row md:items-start md:justify-between">
			<p class="text-sm text-blue-gray">
				© {new Date().getFullYear()} Polyfrost. <Link href="https://github.com/Polyfrost/Nexus" class="text-sm text-blue-gray">Licensed under AGPL-3.0. </Link>
			</p>
			<p class="text-sm text-blue-gray">Not affiliated with Mojang or Microsoft.</p>
		</div>
	</div>
</footer>
